* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001a30;
    color: #fcfcfc;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    padding: 0px;
}
#mainImg h1{
    font-size: 5vw;
    font-weight: 650;
}

#name {
    padding-top: 40px;
}

#biography {
    padding-top: 40px;
}

#biography h2{
    text-transform: uppercase;
}

#biography p {
    padding-top: 20px;
    font-size: 20px;
}

/* Carousel */

#slider {
    padding-top: 40px;
}

/* Timeline */

#timeline {
    padding-top: 40px;
}

#timeline h2{
    text-transform: uppercase;
}

/* Accordion */

.accordion{
    padding-bottom: 40px;
}
.accordion-item {
    margin-bottom: 20px;
}
.accordion-button{
    font-size: 0.7em;
    font-weight: 500;
}
.accordion-button:not(.collapsed){
    
    color: #001a30;
}