* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001a30;
    color: #fcfcfc;
    font-family: 'Poppins', sans-serif;
}

hr {
    color: #f8dd4d;
}
.container-fluid {
    padding: 0px;
}

.container-fluid h2 {
    color: #de071f;
}
#mainImg h1{
    font-size: 5vw;
    font-weight: 650;
}

#name {
    padding-top: 40px;
}

#biography {
    padding-top: 40px;
}

#biography h2{
    text-transform: uppercase;
}

#biography p {
    padding-top: 20px;
    font-size: 20px;
}

/* Carousel */

#slider {
    padding-top: 40px;
}

/* Timeline */

#timeline {
    padding-top: 40px;
}

#timeline h2{
    text-transform: uppercase;
}

/* Accordion */

.accordion{
    padding-bottom: 40px;
}
.accordion-item {
    margin-bottom: 20px;
}
.accordion-button{
    font-weight: bolder;
    font-size: 0.7em;
}
.accordion-button:not(.collapsed){
    font-weight: bold;
    color: #001a30;
}

.accordion-body {
    color: #001a30;
    font-size: 18px;
    font-weight: bold;
}